@import "tailwindcss";
@import "@repo/tailwind-config/styles";
@import "@repo/ui/styles.css";

/* Estilos globais para o tema */
body {
  transition: background-color 0.3s, color 0.3s;
  /* Resetando estilos padrão do Next.js */
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Tema Claro */
.light {
  background-color: theme('colors.text-primary');
  color: theme('colors.background');
}

/* Tema Escuro */
.dark {
  background-color: theme('colors.background');
  color: theme('colors.text-primary');
}
